<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href={% url "index" %}><header>SMV-Website</header></a>
<div>
    <h1>View the latest blog posts:</h1>
    <ul>
        {% for i in articles %}
            <li>
                <div>
                    <a href={% url "article" i.id %}><h2>{{ i.title }}</h2></a>
                    <p>{{ i.description }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>