{% load static %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href={% url "index" %}>SMV-Bismarck</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <em class="fas fa-bars"></em>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href={% url "index" %}>Home</a>
          </li>
           <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle linkitem" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Komitees</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for i in articles %}
                                {% if not i.is_post %}
                                    <a class="dropdown-item linkitem" href={% url "komitee" i.title %}>{{ i.title }}</a>
                                {% endif %}
                            {% endfor %}
                    </li>
            <li class="nav-item">
            <a class="nav-link" href={% url "about" %}>Über uns</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href={% url "dsgvo" %}>DSGVO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url "impressum" %}>Impressum</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<header class="masthead" style="background-image: url({% static "index/img/cropped-SMV-Theme.jpg" %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>SMV-Bismarck</h1>
            <span class="subheading">Die Website der SMV des Bismarck-Gymnasiums</span>
          </div>
        </div>
      </div>
    </div>
  </header>